# Lab1
Jake Woratzeck - jcw9324 <br>
Trang Duong - tpd269<br>
Eric Lankford - el3293<br>
Shak Farok - saf642

In [ ]:
Group = "15"
Course = "ISSEM"
Lab = "Lab1"
print("Group:"+Group,Lab,"Course:"+Course)

Group:15 Lab1 Course:ISSEM

In [ ]:
X = 7                           # int
Y = 'ISSEM'                     # str
Z = ["red", "blue", "green"]    # list

print ("data type of X is", type(X))
print ("data type of Y is", type(Y))
print ("data type of Z is", type(Z))

data type of X is <class 'int'>
data type of Y is <class 'str'>
data type of Z is <class 'list'>

In [ ]:
Q7 here!

In [5]:
# Function definition for function named "dummy"
# Receives data in an argument called "var"
def dummy(var):

  # Casts the "var" argument to type string. Stores in "x" variable
  x = str(var)

  # len() function used to calculate length of string "x"
  # Subtract 1 from length. This will correspond to the index of the last 
  # character of "x" since string indicies begin at 0.
  y = len(x)-1

  # Create empty string variable, "z"
  z = ''

  # While loop that iterates once for each character of the "var" string
  while y >= 0:

    # Add the character at index "y" in the "x" string to the end of the "z" 
    # string. This will start with the last character of the string, since the first
    # value of "y" is the total length of the string
    z = z + x[y]
    
    # Subtracts 1 from "y" each time the loop iterates. This causes the loop 
    # to iterate up to, and including, when the value of y becomes 0.
    # This will add the characters of "var" to string "z" in reverse order.
    y -= 1
  
  # Return the "z" string casted as type int.
  # This will return an error if the "var" argument passed to "dummy" is not
  # exclusively composed of base 10 numbers. Any string containing digits other
  # than 0 through 9 will return:
  # ValueError: invalid literal for int() with base 10
  return int(z)

# Example 1
# Should return 54321 as an int when string "12345" is passed as an argument
print(dummy("12345"))

# Example 2
# Should also work if argument is not initially passed as a string due to type
# casting when "x" is defined
print(dummy(12345))

54321
54321

In [ ]:
Q9 here!

In [ ]:
Q10 here!